
<div class="input my-3">
  <input [(ngModel)]="searchterm" type="text" placeholder="search Item" class=" form-control text-center">
</div>

<div>

</div>
<div class="container row mx-auto my-4">
  @for (item of allItems|search:searchterm ; track $index) {
    <div class="col-4 my-3">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="item.imageCover" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.brand.name}}</h5>
            <p class="card-text">{{item.description.split(" ").splice(0 ,3).join() }}</p>
            <p class="card-text">{{item.price}}$</p>
            <a routerLink="/product" class="btn btn-outline-primary">View Product</a>
          </div>
        </div>
  </div>
  }
    
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
